body {
  background-image: url("../images/orange.jpg");
}

li {
  font-size: 1.5em !important;
  background-color: lightgray;
}


.create-form {
  padding: 5px;
  margin: 5px;
  background: none;
}

.form-group {
  margin-bottom: 5px;
}
